body { 
    color: $main-color; 
    font-size: $main-size; 
    font-family: $main-font;
}

.p_image {
    width: 300px;
}
.fav_panel {
    background-color: aqua;
   
}

h1, h2, h3 {
    text-align: center;
}
